.travis.yml
.DS_Store
docker-compose.yml
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk~
.directory
.Trash-*
._*
LICENSE.md
README.md
